<!-- skulist算法 实现多规格商品 -->
<template>
	<!--底部抽屉-->
	<view class="mask-screen " @touchmove.stop.prevent="_none" @click="hideModal"
		:class="visible?'showScreen':'hideScreen'">

		<view class="region-box animated  " :class="visible?'slideInUp':'slideOutDown'" @tap.stop="_none">
			<!-- 选中商品信息展示 -->
			<view style="padding: 20rpx 20rpx 0 20rpx">
				<view class="flex flex_center ">
					<image :src="nowPreImg" mode="widthFix" class="pre"></image>
					<view class="f1">
						<view class="cm_title">{{ title }}</view>
						<view class="flex flex_center flex_wrap" style="justify-content: flex-start;height: 40rpx">
							<block v-for="(its, inds) in selectArr" :key="inds">
								<text class=" stags">{{ its }}</text>
							</block>
						</view>
						<view class="flex flex_center flex_wrap"
							style="justify-content: flex-start;height: 40rpx;margin-bottom: 10rpx;">
							<block v-for="(its, inds) in selectPropertice" :key="inds">
								<text class=" stags" style="color: #E56D00;">{{ its.service_name }}</text>
							</block>
						</view>

						<view class="flex flex_center" style="justify-content: flex-start;">
							<!-- <view class="cm_price f1" style="color: #E93F37;" v-if="selectSku.is_activity==1">折扣价￥{{ sum }}</view>	 -->
							<view class="cm_price " style="color: #E93F37;font-size: 32rpx;">￥{{sum }}</view>
							<view class="coupons" v-show="mostCoupon" size="24rpx">
								券后价{{`${mostCoupon}`}}</view>
							<view class="f1"></view>
							<text class="cm_des cm_t_20" v-show="selectSku">库存:{{nowStock}}</text>
						</view>
					</view>
				</view>
				<view class="lines" style="margin-top: 20rpx;"></view>
			</view>
			<!-- sku部分 -->
			<scroll-view scroll-y="true" class="argueBox">
				<view class="scrollBox">
					<!-- sku属性选项 -->
					<view v-if="specifications.length">
						<block v-for="(item, index) in specifications" :key="item.key">
							<view v-show="item.checked">
								<view class="cm_title cm_t_24" style="margin-top:20rpx ;">{{ item.name }} </view>
								<view class=" flex flex_center" style="justify-content: flex-start;flex-wrap: wrap;">
									<block v-for="(it, ind) in item.list" :key="ind">
										<button size="mini" v-show="it.checked"
											:plain="subIndex[index] == ind ? true:false  "
											:type="subIndex[index] == ind ? 'warn': 'default'" class="argus "
											@tap.stop.prevent="skuClick(it, index, $event, ind)"
											:disabled="it.ishow ? false : true">
											<image :src="it.pic" mode="" v-if="it.pic"
												style="width: 20px;height: 20px;float: left;margin-top: 4px;margin-right: 4px;">
											</image>
											{{ it.name }}
										</button>
									</block>
								</view>
							</view>

						</block>
					</view>
					<view class="lines"></view>

					<!-- 额外服务选项 -->
					<view v-if="perParams.length">
						<block v-for="(it, idx) in perParams" :key="it.key">
							<view class="cm_title cm_t_24" style="margin-top:20rpx ;">
								<text style="color: red;" v-show="it.required">*</text>{{it.service_type_name}}<text>
									{{it.multiple?'（多选）':''}}</text>
							</view>
							<view class=" flex flex_center" style="justify-content: flex-start;flex-wrap: wrap;">
								<block v-for="(item, ind) in it.list" :key="item.service_code">
									<button size="mini" :plain="item.is_checked? true:false  "
										:type="item.is_checked ? 'warn': 'default'" class="argus "
										@tap.stop.prevent="serve(idx,ind,item.service_code)">

										{{ item.service_name }}(￥{{item.service_price}})
									</button>
								</block>
							</view>
						</block>

					</view>

				</view>

				<!-- 自定义slot -->
				<view>
					<slot>我是默认插槽</slot>
				</view>
			</scroll-view>


			<!-- 数量购买 -->
			<view class=" cells flex flex_center">
				<text class="cm_title cm_t_24">数量:</text>
				<view class="f1"></view>
				<Numberbox :min="1" :value="selectNum" @change="change"></Numberbox>
			</view>
			<!-- 底部操作按钮 -->
			<view class="footer savebottom">
				<view class="btnBox flex flex_center">
					<view class="btns" v-if="action=='card' || action== 'both'"
						:style="{ background: styleOptions.cardBtnCorlor }" @tap.stop.prevent="_addCard">
						{{styleOptions.cardBtnText}}
					</view>

					<view class="btns" @tap.stop.prevent="_creatOrder" v-if="action=='buy' || action== 'both'"
						:style="{ background: styleOptions.buyBtnColor  }">{{styleOptions.buyBtnText }}</view>
				</view>
			</view>

		</view>
	</view>
</template>

<script>
	import Numberbox from './numberbox/numberbox';
	export default {
		data() {
			return {
				lock: false,
				paramsList: [], //
				title: '',
				num: 1,
				issafariBrowser: false,
				nowprice: 0,
				nowPreImg: '',
				showModalStatus: false, //显示选
				nowStock: 0,
				allSkuList: {}, //存放要和选中的值进行匹配的数据
				selectArr: [], //存放被选中的值
				subIndex: [], //是否选中 因为不确定是多规格还是但规格，所以这里定义数组来判断
				selectSku: {}, //存放最后选中的商品
				selectNum: 1, //选中数量
				specifications: [], //储存对应规格
				perParams: [], //存放所有售后服务项

			};
		},
		components: {
			Numberbox
		},
		computed: {
			
			// 总额计算
			sum() {
				let ps = 0
				// this.selectPropertice.map(item => {
				// 	ps += item.service_price
				// })
				// console.log(ps)
				if (this.selectSku) {
					return this.nowprice;
				} else {
					return (this.selectNum * this.nowprice + ps).toFixed(2);
				}

			},
			// 选中的售后服务
			selectPropertice() {
				let res = []
				this.perParams.map(it => {
					if (it.list.length) {
						it.list.map(item => {
							if (item.is_checked) {
								res.push(item)
							}
						})
					}
				})
				return res
			},
			// 最优商品券的判断
			mostCoupon() {
				let spList = {}
				if (!this.couponList.length) {
					return 0
				}
				// let hasSP = this.couponList.some(item => {
				// 	if (item.use_area == 1) {
				// 		spList[item.order_amount] = item
				// 	}
				// 	return item.use_area == 1 ? true : false
				// }) 
				if (this.couponList.length > 0) {
					// alert(this.nowprice)
					if (typeof(this.nowprice) == "string" && this.nowprice.indexOf('-') >= 0) {
						return ''
					} else {
						// 有商品券
						let arr = {}
						let sum = Number(this.selectNum) * this.nowprice
						this.couponList.map(it => {
							if (sum >= Number(it.order_amount)) {
								arr[it.price] = it
							}
						})
						console.log(77, arr)
						if (Object.keys(arr).length) {
							let k = Math.max(...Object.keys(arr))
							// console.log(777,k)
							return sum ? sum - arr[k].price : 0
						} else {
							return ''
						}

					}

				} else {
					return '' //没有优惠价
				}
			}
		},

		props: {
			proId:{
				// 商品唯一值
				// 若传入不同商品会重新计算sku
				Type: String,
				default: ''
			},
			visible: {
				Type: Boolean,
				default: false
			},
			couponList: {
				//优惠券参数选项
				Type: Array,
				default: function() {
					return [];
				}
			},

			// 按钮样式
			styleOptions: {
				Type: Object,
				default: function() {
					return {
						cardBtnCorlor: '#d1a320',
						buyBtnColor: '#50AB9F',
						cardBtnText: '加入购物车吧！',
						buyBtnText: '立即购买！',
					};
				}

			},

			action: {
				Type: String,
				default: "both"
			},

			// singlePro: {
			// 	//是否是统一规格
			// 	Type: Boolean,
			// 	default: false
			// },


			// 所有额外服务
			propertyList: {
				//参数选项
				Type: Array,
				default: function() {
					return [];
				}
			},

			// 所有规格 
			parameter: {
				//参数选项
				Type: Array,
				default: function() {
					return [
						// {
						// 	name: '尺寸',
						// 	item: [
						// 		{
						// 			name: '100'
						// 		},
						// 		{
						// 			name: '200'
						// 		}
						// 	]
						// },
						// {
						// 	name: '颜色',
						// 	item: [
						// 		{
						// 			name: '白色'
						// 		},
						// 		{
						// 			name: '黑色'
						// 		},
						// 		{
						// 			name: '绿色'
						// 		}
						// 	]
						// }
					];
				}
			},
			//所有规格排列组合
			difference: {
				Type: Array,
				default: function() {
					return [
						// {
						// 	id: '19',
						// 	price: 200,
						// 	stock: 19,
						// 	img:'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584610581049&di=0feb46ee2a027f4e9405be8c293860b7&imgtype=0&src=http%3A%2F%2Fpic1.zhimg.com%2F50%2Fv2-ede9473ddcbd84fe7c1e363953ed7410_hd.jpg',
						// 	difference: ['100', '白色', 'X', '豪华']
						// },
						// {
						// 	id: '21',
						// 	price: 300,
						// 	stock: 10,
						// 	img:'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584610581049&di=0feb46ee2a027f4e9405be8c293860b7&imgtype=0&src=http%3A%2F%2Fpic1.zhimg.com%2F50%2Fv2-ede9473ddcbd84fe7c1e363953ed7410_hd.jpg',
						// 	difference: ['100', '黑色', 'XL', '低调']
						// }
					];
				}
			},
			defaultData: {
				Type: Object,
				default: function() {
					return {
						preImg: "https://img2.baidu.com/it/u=3895119537,2684520677&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500",
						title: "测试标题",
						price: 0,
						stock: 0
					}
				}
			}
		},

		created() {
			// this.issafariBrowser = /Safari/.test(navigator.userAgent) && !/Chrome/.test(navigator.userAgent);
			// this.issafariBrowser = true;
			// console.log(issafariBrowser)
			this.nowprice = this.defaultData.price
			this.nowStock = this.defaultData.stock
			this.nowPreImg = this.defaultData.preImg
			this.title = this.defaultData.title

			
			// this.init_sku()

		},
		watch: {
			proId(n, o) {
				// debugger
				if (n && n!=o) {
				
					this.init_sku()
					this.init_parameter()
					this.init_propertyList()

				}
			},

			 
		},
		methods: {
			init_sku() {
				this.selectArr = []
				this.subIndex = []
				this.selectSku = {}
				this.nowprice = this.defaultData.price
				this.nowStock = this.defaultData.stock
				this.nowPreImg = this.defaultData.preImg
				this.title = this.defaultData.title
				
			},
			//初始化所有 附加选项分类
			init_propertyList() {
				if (!this.propertyList.length) return;
				this.perParams = []
				let perParams = []
				this.propertyList.forEach(it => {
					// let ret = {}
					let arr = []
					if (it.list.length) {
						it.list.forEach(item => {
							item.is_checked = true
							if (item.checked) {
								item.is_checked = false
								arr.push(item)
							} else {

							}
						})
					}
					it.list = [...arr]
					perParams.push(it)
				})
				this.perParams = perParams
				console.log('init_propertyList', this.perParams)
			},

			//初始化所有 规格分类
			init_parameter() {
				let arr = []
				// this.specifications = []
				this.parameter.map(item => {
					if (item.checked) {
						this.selectArr.push('');
						this.subIndex.push(-1);
						arr.push(item)
					}
				});

				this.specifications = arr
				// console.log(-2,this.selectArr,this.specifications)
				this.checkItem(); //计算sku里面规格形成路径
				this.checkInpath(-1);
				console.log('visible', this.parameter, this.specifications)
			},


			_none() {},
			// 选择特色服务
			serve(index1, index2, value) {

				let {
					key,
					multiple,
					required
				} = this.perParams[index1];
				let check = this.perParams[index1].list[index2].is_checked
				if (multiple) {
					// 多选		
					this.perParams[index1].list[index2].is_checked = !check
					this.$set(this.perParams[index1].list, index2, this.perParams[index1].list[index2]);
				} else {
					this.perParams[index1].list.map(item => {
						item.is_checked = false
					})
					// // 单选
					if (!check) {
						// 选中
						this.perParams[index1].list[index2].is_checked = true
					}
					this.perParams[index1] = {
						...this.perParams[index1]
					}
					this.$set(this.perParams, index1, this.perParams[index1]);
				}
			},
			/* 
			 value  specifications  2级规格子项
			index1	specifications 1级规格项的的下标
			event 点击的事件对象 规格项的
			index2  2级规格子项 下标
			 */
			skuClick(value, index1, event, index2) {

				if (this.lock) return;
				this.lock = true
				console.log('skuClick——0', value, index1, event, index2)
				if (value.ishow) {
					if (this.selectArr[index1] != value.name) {
						this.$set(this.selectArr, index1, value.name);
						this.$set(this.subIndex, index1, index2);
					} else {
						this.$set(this.selectArr, index1, '');
						this.$set(this.subIndex, index1, -1);
					}
					console.log('skuClick——1', this.selectArr)
					this.checkInpath(index1);
					// console.log(0, this.selectArr)
					//如果全部选完
					if (this.selectArr.every(item => item != '')) {
						this.selectSku = this.allSkuList[this.selectArr];
						console.log('final', this.selectSku)
						// this.selectNum = 1;
						this.nowprice = this.selectSku.skus_price
						this.nowStock = this.selectSku.skus_stock
						if (this.selectSku.skus_pic) {
							this.nowPreImg = this.selectSku.skus_pic
							// debugger
						}
					}
				}

				setTimeout(() => {
					this.lock = false
				}, 500)
			},
			checkInpath(clickIndex) {
				// console.time('筛选可选路径需要的时间是');
				//循环所有属性判断哪些属性可选
				//当前选中的兄弟节点和已选中属性不需要循环
				
				for (let i = 0, len = this.specifications.length; i < len; i++) {
					if (i == clickIndex || !this.specifications[i].checked) {
						continue;
					}
					let len2 = this.specifications[i].list.length;
					for (let j = 0; j < len2; j++) {
						// console.log("b"+ this.subIndex[i],j)
						if (this.subIndex[i] != -1 && j == this.subIndex[i]) {
							continue;
						}
						let choosed_copy = [...this.selectArr];
						// console.log("checkInpath_1", this.selectArr, i, j)

						choosed_copy[i] = this.specifications[i].list[j].name

						let choosed_copy2 = choosed_copy.filter(item => item !== '' && typeof item !== 'undefined');

						// 		const res = this.combination(choosed_copy2)

						// 		let hasThisDiff = res.some(it=>{
						// 			if(this.allSkuList.hasOwnProperty(it) && this.allSkuList[it].skus_stock >0){
						// 				return true
						// 			}else{
						// 				return false
						// 			}
						// 		})
						let hasThisDiff = this.allSkuList.hasOwnProperty(choosed_copy2) && this.allSkuList[choosed_copy2]
							.skus_stock > 0
						console.log("checkInpath_2", choosed_copy2, hasThisDiff)
						if (hasThisDiff) {
							this.$set(this.specifications[i].list[j], 'ishow', true);
						} else {
							this.$set(this.specifications[i].list[j], 'ishow', false);
						}
						
					}
				}
				console.log("checkInpath_3", this.specifications)
			},
			// 排列数组里元素的所有组合
			combination(arr) {
				let len = arr.length
				let res = [] // 所有排列结果
				/**
				 * 【全排列算法】
				 * 说明：arrange用来对arr中的元素进行排列组合，将排列好的各个结果存在新数组中
				 * @param tempArr：排列好的元素
				 * @param leftArr：待排列元素
				 */
				let arrange = (tempArr, leftArr) => {
					if (tempArr.length === len) { // 这里就是递归结束的地方
						// res.push(tempArr) // 得到全排列的每个元素都是数组
						res.push(tempArr) // 得到全排列的每个元素都是字符串
					} else {
						leftArr.forEach((item, index) => {
							let temp = [].concat(leftArr)
							temp.splice(index, 1)
							// 此时，第一个参数是当前分离出的元素所在数组；第二个参数temp是传入的leftArr去掉第一个后的结果
							arrange(tempArr.concat(item), temp) // 这里使用了递归
						})
					}
				}
				arrange([], arr)
				return res
			},
			checkItem() {
				// console.time('计算有多小种可选路径需要的时间是');
				//计算有多小种可选路径
				console.log('checkItem', this.difference)
				let result = this.difference.reduce(
					(arrs, items) => {
						return arrs.concat(
							items.difference.reduce(
								(arr, item) => {

									return arr.concat(
										arr.map(item2 => {
											//利用对象属性的唯一性实现二维数组去重
											if (!this.allSkuList.hasOwnProperty([...item2, item])) {
												this.allSkuList[[...item2, item]] = items;
											}
											return [...item2, item];
										})
									);
								},
								[
									[]
								]
							)
						);
					},
					[
						[]
					]
				);

				console.log(0, this.allSkuList)
			},
			// 创建订单
			_creatOrder() {
				uni.showToast({
					title: '创建订单'
				});
				console.log('_creatOrder', this.selectArr)
				if (this.selectArr.length && this.selectArr.every(item => item != '')) {

					// 判断服务想是否选中
					let bool = true
					this.perParams.forEach(it => {
						if (it.required) {
							let res = it.list.some(item => {
								return item.is_checked ? true : false
							})
							if (!res) bool = false
						}
					})
					if (!bool) {
						uni.showToast({
							icon: 'none',
							title: '请选择星号服务项'
						});
						return
					}
					// let arr = []
					// this.selectPropertice.map(item=>{
					// 	arr.push(item.service_code) 
					// })

					this.selectSku.selectNum = this.selectNum
					this.selectSku.skus_pic = this.nowPreImg
					this.selectSku.goods_id = this.proId
					this.selectSku.goods_service = this.selectPropertice.map(it=>it.service_code)
					console.log('购买回调数据', this.selectSku);
					// return
					this.$emit('creatOrder', this.selectSku);
					this.hideModal()
				} else {
					uni.showToast({
						icon: 'none',
						title: '请选择商品规格'
					});
				}

			},
			// 购物车
			_addCard() {
				console.log('_creatOrder', this.selectArr)
				if (this.selectArr.length && this.selectArr.every(item => item != '')) {
				
					// 判断服务想是否选中
					let bool = true
					this.perParams.forEach(it => {
						if (it.required) {
							let res = it.list.some(item => {
								return item.is_checked ? true : false
							})
							if (!res) bool = false
						}
					})
					if (!bool) {
						uni.showToast({
							icon: 'none',
							title: '请选择星号服务项'
						});
						return
					}
					// let arr = []
					// this.selectPropertice.map(item=>{
					// 	arr.push(item.service_code) 
					// })
				
					this.selectSku.selectNum = this.selectNum
					this.selectSku.skus_pic = this.nowPreImg
					this.selectSku.goods_id = this.proId
					this.selectSku.goods_service = this.selectPropertice.map(it=>it.service_code)
					console.log('是购物车回调数据', this.selectSku);
					// return
					this.$emit('addCard', this.selectSku);
					this.hideModal()
				} else {
					uni.showToast({
						icon: 'none',
						title: '请选择商品规格'
					});
				}
				
			 

			},
			_none() {},

			hideModal() {
				this.$emit('update:visible', false)
				return;
			},
			change(e) {
				let v = e.value;
				// console.log(e, v);
				this.selectNum = v;
			}
		}
	};
</script>

<style lang="less" scoped>
	.flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.f1 {
		flex: 1;
	}

	.animated {
		animation-duration: .5s;
		animation-fill-mode: both;
	}

	.cm_des {
		font-size: 24rpx;
		color: #666
	}

	/*底部抽屉样式 start*/
	.mask-screen {
		width: 100vw;
		// height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: opacity 0.3s ease-in-out;
		overflow: hidden;
		z-index: 100;

		.region-box {
			width: 100%;
			overflow: hidden;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 20;
			background: #fff;
			// background: linear-gradient(45deg, #f1f1f1, #fff);
			padding-bottom: 10rpx;
			box-sizing: border-box;
			border-radius: 20rpx 20rpx 0 0;
			transition: all .5s ease;
			box-sizing: border-box;

			.coupons {
				font-size: 24rpx;
				// background-color: red;
				height: 36rpx;
				line-height: 36rpx;
				padding: 0 10rpx;
				border-radius: 20rpx;
				color: #fff;
				background: linear-gradient(30deg, #ff0000, #ff5500)
			}

			.stags {
				margin-right: 10rpx;
				// padding: 0 10rpx;
				font-size: 22rpx;
				color: #999;
			}

			.cm_price {
				margin-right: 20rpx;
				// margin-top: 20rpx
			}

			.cm_des {
				margin-right: 20rpx;
				// margin-top: 20rpx
			}

			.lines {
				width: 100%;
				height: 1rpx;
				background-color: #f1f1f1;
			}

			.argueBox {
				width: 100%;
				max-height: 50vh;
				overflow-y: auto;
				box-sizing: border-box;

				.scrollBox {
					padding: 20rpx;
					box-sizing: border-box;
				}

				.argus {
					// transform: scale(.8);
					margin: 20rpx 10rpx;
					min-width: 100rpx;
					overflow: hidden;
					border-radius: 8rpx;
					font-size: 24rpx;
					;

					// border: none;
					.icons {
						width: 40rpx;
						height: 40rpx;
						margin-right: 10rpx;
					}
				}

				button[type=default] {
					color: #333333;
					background-color: #fff;
					border: 1rpx solid #eee;
					box-sizing: border-box;
						
					&:after {
						border: none
					}
				}

				button[type=default][disabled] {
					color: #d3d3d3;
					background-color: #f1f1f1;
					border: 1rpx solid #d3d3d3;
					box-sizing: border-box;

					&:after {
						border: none
					}
				}

				button[plain=true] {
					color: #dc3b38;
					background-color: #ffebea;
					border: 1rpx solid #dc3b38;
					box-sizing: border-box;

					&:after {
						border: none
					}
				}
			}

			.pre {
				width: 188rpx;
				height: 188rpx;
				border-radius: 10rpx;
				margin-right: 20rpx;
			}

			.cells {
				margin-bottom: 16rpx;
				line-height: 80rpx;
				height: 80rpx;
				padding: 0 20rpx;
			}

			.footer {

				padding: 0 20rpx;

				.btnBox {
					width: 100%;
					height: 80rpx;
					border-radius: 40rpx;
					line-height: 80rpx;
					overflow: hidden;

					color: #fff;
					box-shadow: none;
					margin-top: 10rpx;

					.btns {
						flex: 1;
						height: 80rpx;
						line-height: 80rpx;
						background: #DDB152;
						color: #fff;
						border-radius: 0 !important;
						border: none;
						text-align: center;
					}
				}

				.btns.hot {
					background-color: #E93F37;
				}
			}

		}

	}

	.showScreen {
		opacity: 1;
		pointer-events: auto;
	}

	.hideScreen {
		opacity: 0;
		pointer-events: none;
	}

	@keyframes slideInUp {
		from {
			transform: translate3d(0, 100%, 0);
			visibility: visible;
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	.slideInUp {
		animation-name: slideInUp;
	}

	@keyframes slideOutDown {
		from {
			transform: translate3d(0, 0, 0);
		}

		to {
			visibility: hidden;
			transform: translate3d(0, 100%, 0);
		}
	}

	.slideOutDown {
		animation-name: slideOutDown;
	}

	.savebottom {
		//IOS版本<11.2
		padding-bottom: constant(safe-area-inset-bottom) !important;
		//IOS版本>=11.2
		padding-bottom: env(safe-area-inset-bottom) !important;
	}
</style>
